<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alteração de Senha</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
</head>
<body>
    <div class="mx-auto" style="width: 500px;">
        <ul class="list-group">
          <div class="text-center">
          <li class="list-group-item"><h4>Informe sua nova senha</h4></li>
          </div>
          <li class="list-group-item">
            <form>
            <div class="form-group">
                <label for="exampleInputPassword1">Nova Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Repita a Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
              </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
          </li>
        </ul>
    </div>

    <script src="{{url_for('static', filename = 'js/jquery-3.5.1.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
</body>
</html>