<!DOCTYPE html>
<html lang="pt-br">
<body>
    <head>
        <meta charset ="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title> 
            Login
        </title>
    </head>
    <div class='container'>
    <form class="form form-login" action="{{url_for('logado')}}" method="POST">
        <fieldset>
            <legend>Por favor, entre com seu email e senha .</legend>
            <div class="input-block">
                <label for="login-email">E-mail</label>
                <input name="login-email" id="login-email" type="email" required>
            </div>
            <div class="input-block">
                <label for="login-password">Password</label>
                <input name="login-password" id="login-password" type="password" required>
            </div>
        </fieldset>
        <button type="submit" class="btn-login">Login</button>
    </form>
    {{mensagem_erro}}
</div>
</body> 
</html>