<!DOCTYPE html>

<html lang="pt-br">

<body>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <title>
            Tela de Login
        </title>




        <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    </head>

    <section class="forms-section">
        <h1 class="section-title">Tela de Login</h1>
        <div class="forms">

            <div class="form-wrapper is-active">
                <button type="button" class="switcher switcher-login">
          Login
          <span class="underline"></span>
        </button>
                <form class="form form-login" action="{{url_for('logado')}}" method="POST">
                    <fieldset>
                        <legend>Porfavor, entre com seu email e senha .</legend>
                        <div class="input-block">
                            <label for="login-email">E-mail</label>
                            <input name="login-email" id="login-email" type="email" required>
                        </div>
                        <div class="input-block">
                            <label for="login-password">Password</label>
                            <input name="login-password" id="login-password" type="password" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-login">Login</button>
                </form>
            </div>
            <div class="form-wrapper">
                <button type="button" class="switcher switcher-signup">
          Cadastro
          <span class="underline"></span>
        </button>
                <form class="form form-signup" action="{{url_for('cadastro')}}" method="POST">
                    <fieldset>
                        <legend>Porfavor, digite seu nome, email, senha e confirmação de senha para cadastrar</legend>
                        <div class="input-block">
                            <label for="signup-nome">Nome</label>
                            <input name="signup-nome" id="signup-nome" type="text" required>
                        </div>
                        <div class="input-block">
                            <label for="signup-user-name">Nome de usuário</label>
                            <input name="signup-user-name" id="signup-user-name" type="text" required>
                        </div>
                        <div class="input-block">
                            <label for="signup-email">E-mail</label>
                            <input name="signup-email" id="signup-email" type="email" required>
                        </div>
                        <div class="input-block">
                            <label for="signup-password">Password</label>
                            <input name="signup-password" id="signup-password" type="password" required>
                        </div>
                        <div class="input-block">
                            <label for="signup-password-confirm">Confirm password</label>
                            <input name="signup-password-confirm" id="signup-password-confirm" type="password" required>
                        </div>
                    </fieldset>
                    <button type="submit" class="btn-signup">Continue</button>
                </form>
            </div>
        </div>
        <div id = "cadastro-efetuado">
            {{cadastrar_usuario}}
        </div>
    </section>
    <script src="{{url_for('static', filename = 'js/login.js')}}"></script>

    <script>
        function submitForm(formElement){
            var formData = new FormData(formElement);
            var xhr = new XMLHttpRequest();
            xhr.open(formElement.method, formElement.action);
            xhr.onreadystatechange = function() {
                if(xhr.readyState == 4 && xhr.status == 200) {
                        document.getElementById('cadastro-efetuado').innerHTML = xhr.response;
                };
            };
            xhr.send(formData);
            return false;
        }
    </script>

</body>

</html>