<!DOCTYPE html>

<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
</head>

<body>

  <br>
  <div class="mx-auto" style="width: 500px;">
  <ul class="list-group">
    <div class="text-center">
    <li class="list-group-item"><h4>Informe seu Email</h4></li>
    </div>
    <li class="list-group-item">
      <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Endereço de email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
        <small id="emailHelp" class="form-text text-muted">Será enviado para este Email um link para recuperação de senha.</small>
      </div>
      <button type="submit" class="btn btn-primary">Enviar link</button>
    </form>
    </li>
  </ul>
  </div>
  
  <script src="{{url_for('static', filename = 'js/jquery-3.5.1.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
</body>

</html>
